###############################################################################
# Ignore these directories
###############################################################################

node_modules


###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*


###############################################################################
# Accept these directories
###############################################################################


###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.gitignore
!.nvmrc
