:root {
  --white: #fff;
  --yellow: #ffc600;
  --black: #272727;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  color: var(--black);
  min-height: calc(100vh - 100px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.content {
  display: grid;
  grid-template-columns: 40fr 60fr;
  grid-template-rows: 100vh;
}

.emphasis {
  color: var(--yellow);
  text-shadow: 2px -1px var(--black);
}

.grid {
  padding: 25px;
  display: grid;
  grid-template-rows: 50px auto;
  grid-auto-rows: 25px;
  grid-gap: 5px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.traverse {
  width: 280px;
  height: 50px;
  border: 1px solid var(--yellow);
  border-left: 5px solid var(--black);
  background-color: var(--yellow);
}

footer {
  text-align: center;
}

.right {
  padding: 25px;
  background-color: var(--yellow);
  border-right: 5px solid var(--black);
}

.traverse-reverse {
  margin-top: 55px;
  width: 280px;
  height: 50px;
  border: 1px solid var(--yellow);
  border-right: 5px solid var(--black);
  background-color: var(--white);
}

@media (max-width: 450px) {
  .right {
    display: none;
  }
}
